<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container py-5">
    <img src="https://www.audi-mediacenter.com/system/production/media/1282/images/bde751ee18fe149036c6b47d7595f6784f8901f8/AL090142_web_1440.jpg?1698171883" alt="Audi Logo" class="img-fluid" style="width: 400px; height: 400px;">
      <h1 class="display-2 fw-bol">Audi</h1>
      <p class="col-md-8 fs-4">
          <span class="text-muted">Vorsprung durch Technik</span>
      </p>
  </div>
  
</div>
