<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Audi</a>
        <ul class="navbar-nav me-auto">
            
            <li class="nav-item">
                <a asp-controller="Login" asp-action="Login" class="nav-link">Üye Girişi</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="Register" class="nav-link">Üye Ol</a>
            </li>  
        </ul>
    </div>
</nav>